<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <!-- Load the values that will be difrent on every system -->
    
    <PropertyGroup>
        <!-- Debugging Settings -->
        <!-- These are here because difrent developers may want difrent settings -->
        <DebugTestWorldBase Condition=" '$(DebugTestWorldBase)' == '' ">MyTestWorldPrefix</DebugTestWorldBase>
        <!-- Pick only one gamemode -->
        <DebugGameMode Condition=" '$(DebugGameMode)' == '' ">survival</DebugGameMode>
        <!-- <DebugGameMode Condition=" '$(DebugGameMode)' == '' ">creative</DebugGameMode> -->
        <!-- Game Files Locations -->
        <GameFilesPrefix Condition=" '$(GameFilesPrefix)' == '' ">C:\Games\VintageStory\Vintagestory_</GameFilesPrefix>
        <!-- Use of the following line will disable the game files prefixing system -->
        <!-- <GameFilesStaticLocation>C:\Games\VintageStory\Vintagestory</GameFilesStaticLocation> -->

        <!-- Use this line to set a location for where all your mods go. 
            For example you could have all your mods dump into the same folder to test them together, 
            but not have the debug versions in your game if you start it to just play. -->
        <!-- <ModsOutputDir.var Condition=" '$(ModsOutputDir.var)' == '' ">C:/Games/MyModBuilds</ModsOutputDir.var> -->
    </PropertyGroup>
</Project>